.article-edit-card {
    width: 90%;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px 10px;
}

.article-edit-title-input {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    width: 50%;
}

.article-edit-submit-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: skyblue;
    color: white;
}